.box{
    height: 400px;
    width: 400px;
    background: linear-gradient(black, transparent);
    margin: auto;
}
body{
    background-color: green;
    margin: 0;
}

h1{
    color: white;
    font-family: sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;  
}